@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-cRuyZVn5lC8i_font-family: "Source Sans 3", sans-serif;
  --mixin-cRuyZVn5lC8i_font-size: 16px;
  --mixin-cRuyZVn5lC8i_font-weight: 400;
  --mixin-cRuyZVn5lC8i_font-style: normal;
  --mixin-cRuyZVn5lC8i_color: #535353;
  --mixin-cRuyZVn5lC8i_text-align: left;
  --mixin-cRuyZVn5lC8i_text-transform: none;
  --mixin-cRuyZVn5lC8i_line-height: 1.5;
  --mixin-cRuyZVn5lC8i_letter-spacing: normal;
  --mixin-cRuyZVn5lC8i_white-space: pre-wrap;
  --mixin-cRuyZVn5lC8i_user-select: text;
  --mixin-cRuyZVn5lC8i_text-decoration-line: none;
  --mixin-cRuyZVn5lC8i_text-overflow: clip;
  --mixin-6EObf9PUqqT8_font-family: "Source Sans 3", sans-serif;
  --mixin-6EObf9PUqqT8_color: #000000;
  --mixin-6EObf9PUqqT8_font-size: 72px;
  --mixin-6EObf9PUqqT8_font-weight: 900;
  --mixin-6EObf9PUqqT8_letter-spacing: -4px;
  --mixin-6EObf9PUqqT8_line-height: 1;
  --mixin-6EObf9PUqqT8_white-space: pre-wrap;
  --mixin-ftVtrf6H4zhl_font-family: "Source Sans 3", sans-serif;
  --mixin-ftVtrf6H4zhl_color: #000000;
  --mixin-ftVtrf6H4zhl_font-size: 48px;
  --mixin-ftVtrf6H4zhl_font-weight: 700;
  --mixin-ftVtrf6H4zhl_letter-spacing: -1px;
  --mixin-ftVtrf6H4zhl_line-height: 1.1;
  --mixin-ftVtrf6H4zhl_white-space: pre-wrap;
  --mixin-P2IAks3Fbmfz_font-family: "Source Sans 3", sans-serif;
  --mixin-P2IAks3Fbmfz_color: #000000;
  --mixin-P2IAks3Fbmfz_font-size: 32px;
  --mixin-P2IAks3Fbmfz_font-weight: 600;
  --mixin-P2IAks3Fbmfz_letter-spacing: -0.8px;
  --mixin-P2IAks3Fbmfz_line-height: 1.2;
  --mixin-P2IAks3Fbmfz_white-space: pre-wrap;
  --mixin-zfPlwt7kW4PH_font-family: "Source Sans 3", sans-serif;
  --mixin-zfPlwt7kW4PH_color: #000000;
  --mixin-zfPlwt7kW4PH_font-size: 24px;
  --mixin-zfPlwt7kW4PH_font-weight: 600;
  --mixin-zfPlwt7kW4PH_letter-spacing: -0.5px;
  --mixin-zfPlwt7kW4PH_line-height: 1.3;
  --mixin-zfPlwt7kW4PH_white-space: pre-wrap;
  --mixin-ZEo-MeOStK0b_font-family: "Source Sans 3", sans-serif;
  --mixin-ZEo-MeOStK0b_color: #000000;
  --mixin-ZEo-MeOStK0b_font-size: 20px;
  --mixin-ZEo-MeOStK0b_font-weight: 600;
  --mixin-ZEo-MeOStK0b_letter-spacing: -0.3px;
  --mixin-ZEo-MeOStK0b_line-height: 1.5;
  --mixin-ZEo-MeOStK0b_white-space: pre-wrap;
  --mixin-2VCXdzpzOLEH_font-family: "Source Sans 3", sans-serif;
  --mixin-2VCXdzpzOLEH_color: #000000;
  --mixin-2VCXdzpzOLEH_font-size: 16px;
  --mixin-2VCXdzpzOLEH_font-weight: 600;
  --mixin-2VCXdzpzOLEH_line-height: 1.5;
  --mixin-2VCXdzpzOLEH_white-space: pre-wrap;
  --mixin-Xoy9kL4O8wMD_color: #0070f3;
  --mixin-Xoy9kL4O8wMD_white-space: pre-wrap;
  --mixin-24ZzROJkVyad_color: #3291ff;
  --mixin-24ZzROJkVyad_white-space: pre-wrap;
  --mixin-yb8KlIxZ6Pu__border-left-color: #dddddd;
  --mixin-yb8KlIxZ6Pu__border-left-style: solid;
  --mixin-yb8KlIxZ6Pu__border-left-width: 3px;
  --mixin-yb8KlIxZ6Pu__color: #888888;
  --mixin-yb8KlIxZ6Pu__padding-left: 10px;
  --mixin-yb8KlIxZ6Pu__white-space: pre-wrap;
  --mixin-nlGZnfwOrgjX_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-nlGZnfwOrgjX_border-bottom-color: #dddddd;
  --mixin-nlGZnfwOrgjX_border-bottom-style: solid;
  --mixin-nlGZnfwOrgjX_border-bottom-width: 1px;
  --mixin-nlGZnfwOrgjX_border-left-color: #dddddd;
  --mixin-nlGZnfwOrgjX_border-left-style: solid;
  --mixin-nlGZnfwOrgjX_border-left-width: 1px;
  --mixin-nlGZnfwOrgjX_border-right-color: #dddddd;
  --mixin-nlGZnfwOrgjX_border-right-style: solid;
  --mixin-nlGZnfwOrgjX_border-right-width: 1px;
  --mixin-nlGZnfwOrgjX_border-top-color: #dddddd;
  --mixin-nlGZnfwOrgjX_border-top-style: solid;
  --mixin-nlGZnfwOrgjX_border-top-width: 1px;
  --mixin-nlGZnfwOrgjX_border-bottom-left-radius: 3px;
  --mixin-nlGZnfwOrgjX_border-bottom-right-radius: 3px;
  --mixin-nlGZnfwOrgjX_border-top-left-radius: 3px;
  --mixin-nlGZnfwOrgjX_border-top-right-radius: 3px;
  --mixin-nlGZnfwOrgjX_font-family: "Inconsolata";
  --mixin-nlGZnfwOrgjX_padding-bottom: 1px;
  --mixin-nlGZnfwOrgjX_padding-left: 4px;
  --mixin-nlGZnfwOrgjX_padding-right: 4px;
  --mixin-nlGZnfwOrgjX_padding-top: 1px;
  --mixin-nlGZnfwOrgjX_white-space: pre-wrap;
  --mixin-MNdWjjsKqjpp_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-MNdWjjsKqjpp_border-bottom-color: #dddddd;
  --mixin-MNdWjjsKqjpp_border-bottom-style: solid;
  --mixin-MNdWjjsKqjpp_border-bottom-width: 1px;
  --mixin-MNdWjjsKqjpp_border-left-color: #dddddd;
  --mixin-MNdWjjsKqjpp_border-left-style: solid;
  --mixin-MNdWjjsKqjpp_border-left-width: 1px;
  --mixin-MNdWjjsKqjpp_border-right-color: #dddddd;
  --mixin-MNdWjjsKqjpp_border-right-style: solid;
  --mixin-MNdWjjsKqjpp_border-right-width: 1px;
  --mixin-MNdWjjsKqjpp_border-top-color: #dddddd;
  --mixin-MNdWjjsKqjpp_border-top-style: solid;
  --mixin-MNdWjjsKqjpp_border-top-width: 1px;
  --mixin-MNdWjjsKqjpp_border-bottom-left-radius: 3px;
  --mixin-MNdWjjsKqjpp_border-bottom-right-radius: 3px;
  --mixin-MNdWjjsKqjpp_border-top-left-radius: 3px;
  --mixin-MNdWjjsKqjpp_border-top-right-radius: 3px;
  --mixin-MNdWjjsKqjpp_font-family: "Inconsolata";
  --mixin-MNdWjjsKqjpp_padding-bottom: 3px;
  --mixin-MNdWjjsKqjpp_padding-left: 6px;
  --mixin-MNdWjjsKqjpp_padding-right: 6px;
  --mixin-MNdWjjsKqjpp_padding-top: 3px;
  --mixin-MNdWjjsKqjpp_white-space: pre-wrap;
  --mixin-bQZH8APtIqGE_display: flex;
  --mixin-bQZH8APtIqGE_flex-direction: column;
  --mixin-bQZH8APtIqGE_align-items: stretch;
  --mixin-bQZH8APtIqGE_justify-content: flex-start;
  --mixin-bQZH8APtIqGE_list-style-position: outside;
  --mixin-bQZH8APtIqGE_padding-left: 40px;
  --mixin-bQZH8APtIqGE_position: relative;
  --mixin-bQZH8APtIqGE_list-style-type: decimal;
  --mixin-bQZH8APtIqGE_white-space: pre-wrap;
  --mixin-Z_-zORx_fRuq_display: flex;
  --mixin-Z_-zORx_fRuq_flex-direction: column;
  --mixin-Z_-zORx_fRuq_align-items: stretch;
  --mixin-Z_-zORx_fRuq_justify-content: flex-start;
  --mixin-Z_-zORx_fRuq_list-style-position: outside;
  --mixin-Z_-zORx_fRuq_padding-left: 40px;
  --mixin-Z_-zORx_fRuq_position: relative;
  --mixin-Z_-zORx_fRuq_list-style-type: disc;
  --mixin-Z_-zORx_fRuq_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-cRuyZVn5lC8i_font-family);
  font-size: var(--mixin-cRuyZVn5lC8i_font-size);
  font-weight: var(--mixin-cRuyZVn5lC8i_font-weight);
  font-style: var(--mixin-cRuyZVn5lC8i_font-style);
  color: var(--mixin-cRuyZVn5lC8i_color);
  text-align: var(--mixin-cRuyZVn5lC8i_text-align);
  text-transform: var(--mixin-cRuyZVn5lC8i_text-transform);
  line-height: var(--mixin-cRuyZVn5lC8i_line-height);
  letter-spacing: var(--mixin-cRuyZVn5lC8i_letter-spacing);
  white-space: var(--mixin-cRuyZVn5lC8i_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-6EObf9PUqqT8_font-family);
  color: var(--mixin-6EObf9PUqqT8_color);
  font-size: var(--mixin-6EObf9PUqqT8_font-size);
  font-weight: var(--mixin-6EObf9PUqqT8_font-weight);
  letter-spacing: var(--mixin-6EObf9PUqqT8_letter-spacing);
  line-height: var(--mixin-6EObf9PUqqT8_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-ftVtrf6H4zhl_font-family);
  color: var(--mixin-ftVtrf6H4zhl_color);
  font-size: var(--mixin-ftVtrf6H4zhl_font-size);
  font-weight: var(--mixin-ftVtrf6H4zhl_font-weight);
  letter-spacing: var(--mixin-ftVtrf6H4zhl_letter-spacing);
  line-height: var(--mixin-ftVtrf6H4zhl_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-P2IAks3Fbmfz_font-family);
  color: var(--mixin-P2IAks3Fbmfz_color);
  font-size: var(--mixin-P2IAks3Fbmfz_font-size);
  font-weight: var(--mixin-P2IAks3Fbmfz_font-weight);
  letter-spacing: var(--mixin-P2IAks3Fbmfz_letter-spacing);
  line-height: var(--mixin-P2IAks3Fbmfz_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-zfPlwt7kW4PH_font-family);
  color: var(--mixin-zfPlwt7kW4PH_color);
  font-size: var(--mixin-zfPlwt7kW4PH_font-size);
  font-weight: var(--mixin-zfPlwt7kW4PH_font-weight);
  letter-spacing: var(--mixin-zfPlwt7kW4PH_letter-spacing);
  line-height: var(--mixin-zfPlwt7kW4PH_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-ZEo-MeOStK0b_font-family);
  color: var(--mixin-ZEo-MeOStK0b_color);
  font-size: var(--mixin-ZEo-MeOStK0b_font-size);
  font-weight: var(--mixin-ZEo-MeOStK0b_font-weight);
  letter-spacing: var(--mixin-ZEo-MeOStK0b_letter-spacing);
  line-height: var(--mixin-ZEo-MeOStK0b_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-2VCXdzpzOLEH_font-family);
  color: var(--mixin-2VCXdzpzOLEH_color);
  font-size: var(--mixin-2VCXdzpzOLEH_font-size);
  font-weight: var(--mixin-2VCXdzpzOLEH_font-weight);
  line-height: var(--mixin-2VCXdzpzOLEH_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-Xoy9kL4O8wMD_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-24ZzROJkVyad_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-yb8KlIxZ6Pu__color);
  padding-left: var(--mixin-yb8KlIxZ6Pu__padding-left);
  border-left: var(--mixin-yb8KlIxZ6Pu__border-left-width)
    var(--mixin-yb8KlIxZ6Pu__border-left-style)
    var(--mixin-yb8KlIxZ6Pu__border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-nlGZnfwOrgjX_font-family);
  border-radius: var(--mixin-nlGZnfwOrgjX_border-top-left-radius)
    var(--mixin-nlGZnfwOrgjX_border-top-right-radius)
    var(--mixin-nlGZnfwOrgjX_border-bottom-right-radius)
    var(--mixin-nlGZnfwOrgjX_border-bottom-left-radius);
  padding: var(--mixin-nlGZnfwOrgjX_padding-top)
    var(--mixin-nlGZnfwOrgjX_padding-right)
    var(--mixin-nlGZnfwOrgjX_padding-bottom)
    var(--mixin-nlGZnfwOrgjX_padding-left);
  border-top: var(--mixin-nlGZnfwOrgjX_border-top-width)
    var(--mixin-nlGZnfwOrgjX_border-top-style)
    var(--mixin-nlGZnfwOrgjX_border-top-color);
  border-right: var(--mixin-nlGZnfwOrgjX_border-right-width)
    var(--mixin-nlGZnfwOrgjX_border-right-style)
    var(--mixin-nlGZnfwOrgjX_border-right-color);
  border-bottom: var(--mixin-nlGZnfwOrgjX_border-bottom-width)
    var(--mixin-nlGZnfwOrgjX_border-bottom-style)
    var(--mixin-nlGZnfwOrgjX_border-bottom-color);
  border-left: var(--mixin-nlGZnfwOrgjX_border-left-width)
    var(--mixin-nlGZnfwOrgjX_border-left-style)
    var(--mixin-nlGZnfwOrgjX_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-MNdWjjsKqjpp_font-family);
  border-radius: var(--mixin-MNdWjjsKqjpp_border-top-left-radius)
    var(--mixin-MNdWjjsKqjpp_border-top-right-radius)
    var(--mixin-MNdWjjsKqjpp_border-bottom-right-radius)
    var(--mixin-MNdWjjsKqjpp_border-bottom-left-radius);
  padding: var(--mixin-MNdWjjsKqjpp_padding-top)
    var(--mixin-MNdWjjsKqjpp_padding-right)
    var(--mixin-MNdWjjsKqjpp_padding-bottom)
    var(--mixin-MNdWjjsKqjpp_padding-left);
  border-top: var(--mixin-MNdWjjsKqjpp_border-top-width)
    var(--mixin-MNdWjjsKqjpp_border-top-style)
    var(--mixin-MNdWjjsKqjpp_border-top-color);
  border-right: var(--mixin-MNdWjjsKqjpp_border-right-width)
    var(--mixin-MNdWjjsKqjpp_border-right-style)
    var(--mixin-MNdWjjsKqjpp_border-right-color);
  border-bottom: var(--mixin-MNdWjjsKqjpp_border-bottom-width)
    var(--mixin-MNdWjjsKqjpp_border-bottom-style)
    var(--mixin-MNdWjjsKqjpp_border-bottom-color);
  border-left: var(--mixin-MNdWjjsKqjpp_border-left-width)
    var(--mixin-MNdWjjsKqjpp_border-left-style)
    var(--mixin-MNdWjjsKqjpp_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-bQZH8APtIqGE_display);
  flex-direction: var(--mixin-bQZH8APtIqGE_flex-direction);
  align-items: var(--mixin-bQZH8APtIqGE_align-items);
  justify-content: var(--mixin-bQZH8APtIqGE_justify-content);
  list-style-position: var(--mixin-bQZH8APtIqGE_list-style-position);
  padding-left: var(--mixin-bQZH8APtIqGE_padding-left);
  position: var(--mixin-bQZH8APtIqGE_position);
  list-style-type: var(--mixin-bQZH8APtIqGE_list-style-type);
  flex-column-gap: var(--mixin-bQZH8APtIqGE_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Z_-zORx_fRuq_display);
  flex-direction: var(--mixin-Z_-zORx_fRuq_flex-direction);
  align-items: var(--mixin-Z_-zORx_fRuq_align-items);
  justify-content: var(--mixin-Z_-zORx_fRuq_justify-content);
  list-style-position: var(--mixin-Z_-zORx_fRuq_list-style-position);
  padding-left: var(--mixin-Z_-zORx_fRuq_padding-left);
  position: var(--mixin-Z_-zORx_fRuq_position);
  list-style-type: var(--mixin-Z_-zORx_fRuq_list-style-type);
  flex-column-gap: var(--mixin-Z_-zORx_fRuq_flex-column-gap);
}
